
body {
background-color: rgb(231, 231, 231);

}
.title {
	width: 100%;
	height: 60px;
	padding-top: 20px;
	color: black;
	
}

h1 {
	text-align: center;
	font-family: 'Fugaz One', cursive;
	color: black;
}

.socials {
	width: 100%;
	height: 120px;
	margin: 20px;
}

.logos {
	height: 60px;
	width: auto;
}

ul{
	list-style-type: none;
}


.row {
	margin-top: 30px;
}

.card {
	padding = 0px;
}

.card-link {
	color: black;

}





